{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block content %}

<div class='row'>
    </br>
    <div class='jumbotron'>

        <h1 class='title-welcome'>{{restaurantdel.name}}</h1>
        <p> Are you sure you want to delete this restaurant? </p>

        <form class = 'form-inline' action="{{ url_for('deleteRestaurant',restaurant_id = restaurant_id)}}" method="post">
        <button type="submit" class="btn btn-lg btn-danger" id="submit" type="submit">Delete</button>


        <a href= "{{  url_for('HomePage') }}">Cancel</a>
        </form>
    </div>
</div>

{% endblock %}
