<html>

    <head>
        <meta charset="utf-8">
        <title>Welcome!</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}" type=text/css>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" type=text/css>

        <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    </head>

    <body>

    <div class='container'>

        <div class='row'>
            </br>

            <div class="jumbotron">
                
                <h1 class='title-welcome'>RestaurantsDb</h1>
                <p>Welcome to the restaurant database</p>
                <a class="btn btn-primary" href="{{ url_for('newRestaurant') }}">Create New Restaurant</a>
                
            </div>

            <div class='row'>

                {% with messages = get_flashed_messages() %}

                {% if messages %}

            <ul>
                {% for message in messages %}

                <li><strong> {{ message }} </strong></li>

                {% endfor %}
            </ul>

            {% endif %}

            {% endwith %}

            </div>
        </div>
            

        <div class='row'>
            {% for i in restaurant %}

            <div class='row'>

                <h3>
                    <div class='col-md-4'>
                        {{i.name}}
                    </div>
                <a class="btn btn-info" href="{{ url_for('editRestaurant',restaurant_id=i.id) }}">Edit</a>
                <a class="btn btn-danger" href="{{ url_for('deleteRestaurant',restaurant_id=i.id) }}">Delete</a>
                </h3>


            </div>


            {% endfor %}
        </div>



    </div> <!--container--> 


    </body>

</html>

