{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block content %}


<div class='row'>
    </br>
    <div class='jumbotron'>
    <h1 class='title-welcome'>New Menu Item</h1>

    <form class='form-inline' action="{{ url_for('newMenuItem',restaurant_id=restaurant_id) }}" method="post" accept-charset="utf-8">
        <p>Name:</p>
        <input type="text" name="name" class='form-control' size="30">
        <button type="submit" class="btn btn-primary" id="submit" type="submit">Create</button>
    </form>

    </div>
</div>

{% endblock %}
